<a href="https://colab.research.google.com/github/Niamh2602/test/blob/main/Project_test_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
import io
import pandas as pd
import folium
import gc


data = files.upload()

Saving Accommodation.csv to Accommodation.csv
Saving Activities.csv to Activities.csv

In [8]:
Accommodation = pd.read_csv('Accommodation.csv', header = 0, index_col= None)
Activities = pd.read_csv('Activities.csv', header = 0, index_col= None)

In [8]:
Accommodation.head()

,Name,Url,Telephone,Longitude,Latitude,AddressRegion,AddressLocality,AddressCountry,Tags
0,Bramble Rock,http://www.bramblerock.com,+353(0)40445075,-6.291733,53.009756,Wicklow,Glendalough,Republic of Ireland,B&B
1,The Davenport,http://www.instagram.com/thedavenportdublin/,+353(0)16073500,-6.250031,53.341665,Dublin,Dublin City,Republic of Ireland,"Hotel,Covid Safety Charter"
2,Townsend House,http://www.townsendhouse-guesthouse.com,+353(0)579121276,-7.909500,53.098816,Offaly,Birr,Republic of Ireland,"Guesthouse,Covid Safety Charter"
3,River's Edge,http://www.riversedge.ie,3.5367E+11,-9.783882,52.106485,Kerry,Killorglin,Ireland,"B&B,B&B Ireland"
4,Amber Springs Hotel & Health Spa,https://www.ambersprings.ie/,+353(0)539484000,-6.290339,52.668124,Wexford,Gorey,Republic of Ireland,"Hotel,Covid Safety Charter,Stay and Spend"

In [9]:
Accommodation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2773 entries, 0 to 2772
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             2773 non-null   object
 1   Url              2591 non-null   object
 2   Telephone        2768 non-null   object
 3   Longitude        2773 non-null   float64
 4   Latitude         2773 non-null   float64
 5   AddressRegion    2773 non-null   object
 6   AddressLocality  2631 non-null   object
 7   AddressCountry   2773 non-null   object
 8   Tags             2773 non-null   object
dtypes: float64(2), object(7)
memory usage: 195.1+ KB

In [10]:
Accommodation.isnull().sum()

Name                 0
Url                182
Telephone            5
Longitude            0
Latitude             0
AddressRegion        0
AddressLocality    142
AddressCountry       0
Tags                 0
dtype: int64

In [12]:
Activities.head()

,Name,Url,Telephone,Longitude,Latitude,AddressRegion,AddressLocality,AddressCountry,Tags
0,The Restaurant at the Abbey Hotel,http://www.abbeyhotel.ie/food-and-wine.html,353907000000,-8.193639,53.624876,Roscommon,NaN,Ireland,"Food and Drink,Restaurant"
1,Café Nutshell,https://www.facebook.com/cafenutshell/,35351422777,-6.944210,52.395136,Wexford,New Ross,Republic of Ireland,"Covid Safety Charter,Food and Drink,Restaurant..."
2,Guided Walking Tour of Sligo,NaN,NaN,-8.477043,54.268771,Sligo,Sligo Town,Republic of Ireland,"Walking,Activity Operator,Tour"
3,The Italian Kitchen,http://theitaliankitchen.ie,+353(0)18711255,-6.218041,53.411898,Dublin,Clonshaugh,Ireland,"Food and Drink,Restaurant"
4,Brasserie on the Corner,https://brasseriegalway.com,35391530333,-9.052901,53.274658,Galway,NaN,Ireland,"Covid Safety Charter,Food and Drink,Restaurant"

In [15]:
Activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6318 entries, 0 to 6317
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6318 non-null   object
 1   Url              5893 non-null   object
 2   Telephone        5743 non-null   object
 3   Longitude        6318 non-null   float64
 4   Latitude         6318 non-null   float64
 5   AddressRegion    6314 non-null   object
 6   AddressLocality  5375 non-null   object
 7   AddressCountry   6318 non-null   object
 8   Tags             6236 non-null   object
dtypes: float64(2), object(7)
memory usage: 444.4+ KB

In [17]:
Activities.isnull().sum()

Name                 0
Url                425
Telephone          575
Longitude            0
Latitude             0
AddressRegion        4
AddressLocality    943
AddressCountry       0
Tags                82
dtype: int64